@import "tailwindcss";

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Анимация улетания вниз (задача становится выполненной) */
@keyframes slide-down-fade {
  0% {
    transform: translateY(0) ;
    opacity: 1;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}
/* Анимация улетания вверх (задача становится невыполненной) */
@keyframes slide-up-fade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}
.animate-slide-down-fade {
  animation: slide-down-fade 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  pointer-events: none; 
}
.animate-slide-up-fade {
  animation: slide-up-fade 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  pointer-events: none;
}
